body {
    background-color: $bg-body-smoke;
}

@include block('wrapper') {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    @include modifier('small') {
        max-width: $wrapper-small;
    }

    @include modifier('medium') {
        max-width: $wrapper-medium;
    }

    @include modifier('large') {
        max-width: $wrapper-large;
    }

    @include modifier('padding') {
        padding-top: $s-gt;
        padding-bottom: $s-gt;

        @media screen and (max-width: $tablet-width){
            padding-top: $s-lg;
            padding-bottom: $s-lg;
        }
    }
}



img {
    max-width: 100%;
}
