@mixin transition($prop, $time) {
	-webkit-transition: $prop $time ease;
	-moz-transition: $prop $time ease;
	-o-transition: $prop $time ease;
	transition: $prop $time ease;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin rotateCenter($deg) {
	-ms-transform: translate(-50%, -50%) rotate($deg);
	-moz-transform: translate(-50%, -50%) rotate($deg);
	-webkit-transform: translate(-50%, -50%) rotate($deg);
	-o-transform: translate(-50%, -50%) rotate($deg);
	transform: translate(-50%, -50%) rotate($deg);
}

@mixin animation-rotate($time) {
	-webkit-animation: rotating $time linear infinite;
    -moz-animation: rotating $time linear infinite;
    -ms-animation: rotating $time linear infinite;
    -o-animation: rotating $time linear infinite;
    animation: rotating $time linear infinite;
}

@-webkit-keyframes rotating {
	from {
		@include rotateCenter(0deg);
	}
	to {
		@include rotateCenter(360deg);
	}
}
@keyframes rotating {
	from {
		@include rotateCenter(0deg);
	}
	to {
		@include rotateCenter(360deg);
	}
}
