$font-default: 'Open Sans', serif;
$font-accent: 'Roboto Slab', serif;

$color-dark: #363430;
$color-light: #f1f1f1;

$bg-body-smoke: #eeeeee;
$bg-body-light: #ffffff;

$wrapper-small: 900px;
$wrapper-medium: 1200px;
$wrapper-large: 1500px;

$tablet-width: 900px;
$phone-width: 600px;

$s-tn: 15px;  // Size tiny
$s-sm: 25px;  // Size small
$s-md: 50px;  // Size medium
$s-lg: 75px;  // Size large
$s-gt: 150px; // Size giant
